# <center>변수와 자료형</center>

##### \#\# insert에 코드를 작성하여 eseop90@gmail.com에 제출하시오.

1. 삼성전자 주식이 하나 당 50,000원입니다. 해당 가격을 stock에 바인딩하시오. 그리고 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [1]:
stock_samsung = 50000
total_price = stock_samsung * 10
print(total_price)

500000

2. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [2]:
mon_price = 48584
total_price = mon_price * 36
print(total_price)

1749024

3. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [ ]:
letters = 'python'

In [3]:
lang = 'python'
print(lang[0], lang[2])

p t

4. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [ ]:
license_plate = "24가 2210"

In [4]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

5. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [ ]:
phone_number = "010-1111-2222"

In [14]:
# solution 1
phone_number = "010-1111-2222"
phone_number_wo_bar = phone_number.replace("-", " ")
print(phone_number_wo_bar)

# solution 2
# list에서 배운 것을 응용함.
phone_number_list = phone_number.split("-")
phone_number_wo_bar2 = list()
phone_number_wo_bar2.extend(phone_number_list)
print(" ".join(phone_number_wo_bar2))

010 1111 2222
010 1111 2222

6. 5번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [16]:
# solution 1
phone_number = "010-1111-2222"
phone_number_wo_bar = phone_number.replace("-", "")
print(phone_number_wo_bar)

# solution 2
# list에서 배운 것을 응용함.
phone_number_list = phone_number.split("-")
phone_number_wo_bar2 = list()
phone_number_wo_bar2.extend(phone_number_list)
print("".join(phone_number_wo_bar2))

01011112222
01011112222

7. url1, url2 에 저장된 웹 페이지 주소에서 도메인(kr, com)을 출력하세요. 단, 도메인의 길이와 상관없이 모두 작동해야 합니다.

In [ ]:
url1 = "http://sharebook.kr"
url2 = "http://google.com"

In [18]:
url1 = "http://sharebook.kr"
url2 = "http://google.com"

url1_split = url1.split('.')
print(url1_split[-1])
url2_split = url2.split('.')
print(url2_split[-1])

kr
com

8. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [ ]:
string = 'abcdfe2a354a32a'

In [19]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

9. 화면에 '-'를 80개 출력하세요.

In [20]:
print("-" * 80)

--------------------------------------------------------------------------------

10. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [21]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

11. 문자열의 format() 메서드를 사용해서 10번 문제를 다시 풀어보세요.

In [22]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

12. f-string을 사용해서 10번 문제를 다시 풀어보세요.

In [23]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

13. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [ ]:
stock_price = "5,969,782,550"

In [24]:
stock_price = "5,969,782,550"
stock_price_wo_comma = stock_price.replace(",", "")
int_stock_price = int(stock_price_wo_comma)
print(int_stock_price, type(int_stock_price))

5969782550 <class 'int'>

14. 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [ ]:
data = "   삼성전자    "

In [25]:
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

15. 다음과 같은 문자열이 있을 때 이를 대문자로 변경하세요.

In [ ]:
ticker = "btc_krw"

In [26]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

16. 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

In [ ]:
ticker = "BTC_KRW"

In [27]:
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

17. 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

In [ ]:
a = "hello world"

In [28]:
a = "hello world"
a.split()

['hello', 'world']

18. 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

In [ ]:
ticker = "btc_krw"

In [29]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

19. 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

In [ ]:
data = "039490     "

In [30]:
data = "039490     "
data = data.rstrip()

20. 식당에서 현금으로 78,000원을 지불하려 한다. 5만원, 만원, 5천원, 천원짜리 지폐가 각각 몇장 필요한지 python의 연산자로 나타내라.

In [32]:
payment = 78000

# 5만원
oman_won = payment // 50000
rest = payment % 50000

man_won = rest // 10000
rest = rest % 10000

ocheon_won = rest // 5000
rest = rest % 5000


cheon_won = rest // 1000
rest = rest % 1000

print(f"5만원: {oman_won}, 만원: {man_won}, 5천원: {ocheon_won}, 천원: {cheon_won}")

5만원: 1, 만원: 2, 5천원: 1, 천원: 3

21. 표준 입력으로 2개의 실수를 입력받아 더하기, 빼기, 곱하기, 나누기의 연산을 출력한다. 이 문제를 해결하기 위해서 input() 함수를 사용한다.
아래는 input() 함수의 사용 예이다.

In [ ]:
a = input()
print(a)

In [34]:
a = int(input())
b = int(input())

print(a+b)
print(a-b)
print(a*b)
print(a/b)

8
2
15
1.6666666666666667

22. 표준 입력('input()')으로 3개의 단어를 콤마로 구분해 입력받자. 3개의 단어를 추출해 각 단어와 역순의 단어를 출력한다. 그리고 그 단어가 회문인지를 판단하는 논리 값(True, False)도 출력하는 프로그램을 작성하자.

회문은 거꾸로 읽어도 제대로 읽는 것과 같은 문장이나 낱말을 말한다. 예를 들면, 기러기, level 등이 있다.

In [41]:
# 입력: 기러기,토마토,사람

words = input()
word_list = words.split(',')

# 첫번째 단어 검사
print(f" first word: {word_list[0] == word_list[0][::-1]}")

# 두번째 단어 검사
print(f" second word: {word_list[1] == word_list[1][::-1]}")

# 세번째 단어 검사
print(f" third word: {word_list[2] == word_list[2][::-1]}")

 first word: True
 second word: True
 third word: False