# <center>리스트, 튜플, 딕셔너리</center>

##### \#\# insert에 코드를 작성하여 eseop90@gmail.com에 제출하시오.

1. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

|순위|영화|
|---|---|
|1위|닥터 스트레인지|
|2위|스플릿|
|3위|럭키|

In [3]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

2. 1의 movie_rank 리스트에 "배트맨"을 추가하라.

In [2]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

3. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [4]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

4. movie_rank 리스트에서 '럭키'를 삭제하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [5]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

5. movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [6]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

6. lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [7]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

7. 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]

In [8]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

8. 다음 리스트의 합을 출력하라. (힌트: sum() 함수 사용)

In [ ]:
nums = [1, 2, 3, 4, 5]

# 실행 예: 15

In [9]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

9. 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [10]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

10. 다음 리스트의 평균을 출력하라.

In [ ]:
nums = [1, 2, 3, 4, 5]

# 실행 예: 3.0

In [12]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

11. price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

# 실행 예: [100, 130, 140, 150, 160, 170]

In [13]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

12. 슬라이싱을 사용해서 홀수와 짝수를 각각 출력하라.

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 실행 : 
# [1, 3, 5, 7, 9]
# [2, 4, 6, 8, 10]

In [15]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

print(nums[1::2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

13. 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라. (힌트: 리스트의 슬라이싱은 문자열의 슬라이싱과 유사하다.)

In [ ]:
nums = [1, 2, 3, 4, 5]

# 실행 예: [5, 4, 3, 2, 1]

In [16]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

14. interest 리스트에는 아래의 데이터가 바인딩되어 있다.

In [2]:
interest = ['삼성전자', 'LG전자', 'Naver']

interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자 Naver

In [4]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

15. interest 리스트에는 아래의 데이터가 바인딩되어 있다.

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

interest 리스트를 사용하여 아래와 같이 화면에 출력하라. (힌트 join() 함수를 사용하라.)

출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [19]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

16. 리스트에 있는 값을 오름차순과 내림차순으로 각각 정렬하세요. (힌트: 검색엔진에서 sort() 함수에 대해 내림차순 방법을 찾으시오.)

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]

In [20]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

17. 1번 문제를 튜플에 저장하라.

In [21]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

18. 숫자 1이 저장된 튜플을 생성하라.

In [23]:
my_tuple = (1, )
print(my_tuple)

(1,)

19. 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

|이름|희망가격|
|--|--|
|메로나|1000|
|폴라포|1200|
|빵빠레|1800|

In [24]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

20. 19번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

|이름|희망 가격|
|--|--|
|죠스바|1200|
|월드콘|1500|

In [25]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

21. 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}


# 실행 예:
# 메로나 가격: 1000

In [26]:
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

22. 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

In [28]:
ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

23. 다음 딕셔너리에서 메로나를 삭제하라.

In [30]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

In [31]:
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

24. 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

|이름|가격|재고|
|--|--|--|
|메로나|300|20|
|비비빅|400|3|
|죠스바|250|100|

In [5]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

25. inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

In [32]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

In [33]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][0], "원")

300 원

26. 25번의 inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

In [34]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][1], "개")

20 개

27. 25번의 inventory 딕셔너리에 아래 데이터를 추가하라.

|이름|가격|재고|
|--|--|--|
|월드콘|500|7|

In [35]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

28. 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [7]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
names = list(icecream.keys())
print(names)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

29. 28번의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

In [38]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

30. 28번의 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

In [39]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700