# <center>변수와 자료형</center>

##### \#\# insert에 코드를 작성하여 eseop90@gmail.com에 제출하시오.

1. 삼성전자 주식이 하나 당 50,000원입니다. 해당 가격을 stock에 바인딩하시오. 그리고 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [ ]:
## insert

2. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [ ]:
## insert

3. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [ ]:
letters = 'python'

In [ ]:
## insert

4. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [ ]:
license_plate = "24가 2210"

In [ ]:
## insert

5. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [ ]:
phone_number = "010-1111-2222"

In [ ]:
## insert

6. 5번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [ ]:
## insert

7. url1, url2 에 저장된 웹 페이지 주소에서 도메인(kr, com)을 출력하세요. 단, 도메인의 길이와 상관없이 모두 작동해야 합니다.

In [ ]:
url1 = "http://sharebook.kr"
url2 = "http://google.com"

In [ ]:
## insert

8. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [ ]:
string = 'abcdfe2a354a32a'

9. 화면에 '-'를 80개 출력하세요.

In [ ]:
## insert

10. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [ ]:
## insert

11. 문자열의 format() 메서드를 사용해서 10번 문제를 다시 풀어보세요.

In [ ]:
## insert

12. f-string을 사용해서 10번 문제를 다시 풀어보세요.

In [ ]:
## insert

13. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [ ]:
stock_price = "5,969,782,550"

In [ ]:
## insert

14. 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [ ]:
data = "   삼성전자    "

15. 다음과 같은 문자열이 있을 때 이를 대문자로 변경하세요.

In [ ]:
ticker = "btc_krw"

In [ ]:
## insert

16. 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

In [ ]:
ticker = "BTC_KRW"

In [ ]:
## insert

17. 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

In [ ]:
a = "hello world"

In [ ]:
## insert

18. 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

In [ ]:
ticker = "btc_krw"

In [ ]:
## insert

19. 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

In [ ]:
data = "039490     "

In [ ]:
## insert

20. 식당에서 현금으로 78,000원을 지불하려 한다. 5만원, 만원, 5천원, 천원짜리 지폐가 각각 몇장 필요한지 python의 연산자로 나타내라.

In [ ]:
## insert

21. 표준 입력으로 2개의 실수를 입력받아 더하기, 빼기, 곱하기, 나누기의 연산을 출력한다. 이 문제를 해결하기 위해서 input() 함수를 사용한다.
아래는 input() 함수의 사용 예이다.

In [ ]:
a = input()
print(a)

In [ ]:
## insert

22. 표준 입력('input()')으로 3개의 단어를 콤마로 구분해 입력받자. 3개의 단어를 추출해 각 단어와 역순의 단어를 출력한다. 그리고 그 단어가 회문인지를 판단하는 논리 값(True, False)도 출력하는 프로그램을 작성하자.

회문은 거꾸로 읽어도 제대로 읽는 것과 같은 문장이나 낱말을 말한다. 예를 들면, 기러기, level 등이 있다.

In [ ]:
## insert