# <center>제어문(if 문, while 문, for 문)</center>

##### \#\# insert에 코드를 작성하여 eseop90@gmail.com에 제출하시오.

1. 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

In [ ]:
## insert

2. 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결과값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

예:

\>> 입력값: 200  
출력값: 180

\>> 입력값: 280  
출력값: 255

\>> 입력값: 15  
출력값: 0

In [ ]:
## insert

3. 사용자로부터 입력 받은 시간이 정각인지 판별하라.

예:

\>> >> 현재시간:02:00  
정각 입니다.

\>> 현재시간:03:10  
정각이 아닙니다.

In [ ]:
## insert

4. 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [ ]:
fruit = ["사과", "포도", "홍시"]

예:

\>> 좋아하는 과일은? 사과  
정답입니다.

In [ ]:
## insert

5. 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

In [ ]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

In [ ]:
## insert

6. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

예:

\>> 제가좋아하는계절은: 봄  
정답입니다.

In [ ]:
## insert

7. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

예:


\>> 좋아하는과일은? 한라봉  
오답입니다.

In [ ]:
## insert

8. 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

예:

\>> a  
A

In [ ]:
## insert

9. 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

|점수|학점|
|---|---|
|81~100|A|
|61~80|B|
|41~60|C|
|21~40|D|
|0~20|E|

예:

\>> score: 83  
grade is A

In [ ]:
## insert

10. 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

|통화명|환율|
|---|---|
|달러|1167|
|엔|1.096|
|유로|1268|
|위안|171|

예:

\>> 입력: 100 달러  
116700.00 원

In [ ]:
## insert

11. 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

예:

\>> input number1: 10  
\>> input number2: 9  
\>> input number3: 20  
20

In [ ]:
## insert

12. for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

In [ ]:
리스트 = ["김밥", "라면", "튀김"]

예:

오늘의 메뉴: 김밥  
오늘의 메뉴: 라면  
오늘의 메뉴: 튀김

In [ ]:
## insert

13. 리스트에는 동물이름이 문자열로 저장돼 있다. 동물 이름과 글자수를 다음과 같이 출력하라.

In [ ]:
리스트 = ['dog', 'cat', 'parrot']

예:

dog 3  
cat 3  
parrot 6

In [ ]:
## insert

14. 리스트에는 네 개의 정수가 저장돼 있다. for 문을 사용해서 리스트의 음수를 출력하라.

In [ ]:
number = [3, -20, -3, 44]

예:

-20  
-3

In [ ]:
## insert

15. 이름의 첫 글자를 대문자로 변경해서 출력하라.

In [ ]:
animals = ['dog', 'cat', 'parrot']

예:

Dog  
Cat  
Parrot

In [ ]:
## insert

16. 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라.

In [ ]:
file_list = ['hello.py', 'ex01.py', 'intro.hwp']

예:

hello
ex01
intro

In [ ]:
## insert

17. 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

예:

2002  
2006  
2010  
...  
2042  
2046  
2050

In [ ]:
## insert

18. 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]

예:

101 호  
102 호  
\-----  
201 호  
202 호  
\-----  
301 호  
302 호  
\-----

In [ ]:
## insert

19. ohlc 리스트에는 시가(open), 고가(high), 저가(low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

예:

100  
310

In [ ]:
## insert

20. 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

21. 컴퓨터가 정한 1에서 10 사이의 정수인 정답을 사용자가 맞히는 프로그램을 작성해 보자. 사용자가 정답을 맞출 때까지 계속 힌트를 준다. 입력한 수보다 '작은 수' 또는 '큰 수'라는 정보를 제공해 사용자가 정답을 맞힐 확률을 높인다.

예:

1에서 10 사이의 수를 맞히세요 >> 5  
5보다 더 작은 수로 다시 입력 >> 3  
3보다 더 큰 수로 다시 입력 >> 4  
축하한다. 정답이다.  
******** 종료 ********

힌트: 아래의 random 함수를 사용하라.

In [ ]:
import random
print(random.randint(1, 10))

In [ ]:
## insert

22. 요즘은 식당이나 커피 전문점에서 셀프 주문기를 자주 본다. 주문을 위해 커피 종류와 수량을 입력받아 총 주문 가격을 출력하는 프로그램을 작성해 보자. 커피의 종류는 네 가지이며, 0을 입력하면 주문을 종료한다. 1에서 4까지의 커피를 주문하면 바로 수량을 입력받도록 한다. 한 종류의 커피와 수량을 입력받으면 그때까지의 주문 가격도 표시하며, 주문이 종료되면 총 주문 가격을 출력한다. while True:로 무한 반복하다가 주문이 종료되면 break로 종료하도록 프로그램을 작성해 보자.

|메뉴|가격|
|---|---|
|1. 아메리카노|2000|
|2. 카페라떼|2500|
|3. 카푸치노|3000|
|4. 카라멜마키아또|4000|
|0. 주문 종료| |

예:

환영합니다. 음료를 선택하세요.  
1. 아메리카노       2000  
2. 카페라떼         2500  
3. 카푸치노         3000  
4. 카라멜마키아또     4000  
종류? 1  
수량? 1  
아메리카노 1개 주문  
현재 주문 가격: 2000원  

환영합니다. 음료를 선택하세요.   
1. 아메리카노       2000  
2. 카페라떼         2500  
3. 카푸치노         3000  
4. 카라멜마키아또     4000  
종류? 2  
수량? 2  
카페라떼 2개 주문  
현재 주문 가격: 7000원  

환영합니다. 음료를 선택하세요.   
1. 아메리카노       2000  
2. 카페라떼         2500  
3. 카푸치노         3000  
4. 카라멜마키아또     4000  
종류? 0

******** 주문 종료 ********  
총 주문 가격: 7000원  
======= 안녕! =======

In [ ]:
## insert