# <center>함수</center>

##### \#\# insert에 코드를 작성하여 eseop90@gmail.com에 제출하시오.

1. "비트코인" 문자열을 화면에 100번 출력하는 print_coins() 함수를 정의하고 함수를 호출하라.

In [ ]:
## insert

2. 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라. 그후, 정의한 함수를 호출하며, 파라미터는 "안녕하세요"로 입력하라.

In [ ]:
## insert

3. 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [ ]:
## insert

4. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

예)  
print_arithmetic_operation(3, 4)

3 + 4 = 7  
3 - 4 = -1  
3 * 4 = 12  
3 / 4 = 0.75

In [ ]:
## insert

5. 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [ ]:
## insert

6. 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

예)  

print_reverse("python")  


nohtyp

In [ ]:
## insert

7. 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

예)

print_score ([1, 2, 3])

2.0

In [ ]:
## insert

8. 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

예)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름  
나이  
성별

In [ ]:
## insert

9. 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

예)

print_5xn("아이엠어보이유알어걸")

아이엠어보  
이유알어걸

In [ ]:
## insert

10. 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

예)

printmxn("아이엠어보이유알어걸", 3)

아이엠  
어보이  
유알어  
걸

In [ ]:
## insert

11. 함수 setsequence(start, end, count)에서 1에서 100까지 정수 10개를 랜덤으로 생성해 전역 변수인 리스트 nums에 추가하자. 전역 변수 nums에 저장된 10개의 수로 합과 평균, 최댓값과 최솟값을 출력하는 프로그램을 작성해 보자. 리스트 항목의 합, 최대와 최소는 내장 함수 sum(), min(), max()를 사용한다. 


랜덤 생성에는 아래 소스코드를 활용하라.

In [ ]:
from random import randint
randint(1, 100) # 1부터 100 사이 정수 하나를 리턴함

In [ ]:
## insert